* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.click-btn {
  border-radius: 50px;
  color: red;
  padding: 30px;
  /* width: 10%;
  height: 10vh; */
}

#btn {
  text-transform: capitalize;
  font-size: 25px;
}

#btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
